

.main > .left {
  width: 280px;
  height: 92vh;
  overflow: hidden;
  overflow-y: scroll;
  padding: 20px 6px 5px 10px;
  position: fixed;
}

.main .left::-webkit-scrollbar {
  width: 8px;
}

.main .left::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #f0f2f5;
}

.main .left:hover::-webkit-scrollbar-thumb {
  background: #bfbfbf;
}

.main > .left > a {
  text-decoration: none;
  color: #4d4d4d;
}

.main > .left > .img > .see,
.main > .left > .shortcuts > .see {
  color: #4d4d4d;
  font-size: 15px;
  font-weight: 600;
}

.main > .left > a > .img > p,
.main > .left > a > .shortcuts > p {
  font-size: 15px;
  font-weight: 600;
}

.main > .left > a > .img,
.main > .left > .img {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 6px;
  padding-left: 7px;
}

.main > .left > a > .img:hover {
  background: #e3e3e3;
}

.main > .left > .img:hover {
  background-color: #e3e3e3;
}

.main > .left > a > .img > img,
.main > .left > .img > img {
  width: 29px;
  height: 29px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin: 8px 15px 8px 0;
}

.main > .left > hr,
.main > .right > hr {
  width: 100%;
  height: 1px;
  border: 0;
  background: #cccccc;
  margin: 10px 0;
}

.main > .left > h2 {
  font-size: 17px;
  color: #919191;
  margin: 5px 0;
}

.main > .left > .edit {
  color: #45abff;
  font-size: 15px;
  float: right;
  position: relative;
  bottom: 23px;
  cursor: pointer;
  opacity: 0;
}

.main > .left:hover .edit {
  opacity: 1;
}

.main > .left > a > .shortcuts,
.main > .left > .shortcuts {
  display: flex;
  align-items: center;
  transition: 0.2s;
  border-radius: 6px;
  padding-left: 7px;
}

.main > .left > a > .shortcuts:hover {
  background: #e3e3e3;
  cursor: pointer;
}

.main > .left > .shortcuts:hover {
  background-color: #e3e3e3;
  cursor: pointer;
}

.main > .left > a > .shortcuts > img,
.main > .left > .shortcuts > img {
  width: 29px;
  height: 29px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  margin: 8px 15px 8px 0;
}
